apicache-py3/3bea825dbcf5b99a07c73262608b0e6bdbb80a9822da15c8f6f88c27ad6c212f
WikibaseIntegrator_handler/__pycache__/
__pycache__/
apicache-py3
*.pyc
*.csv
*.json
dist/
build/
*.spec
csv_parser/db_config.py
wikibase_try.py
WikibaseIntegrator_handler/query_handler.py
WikibaseIntegrator_handler/handler.py
WikibaseIntegrator_handler/__pycache__/handler.cpython-311.pyc
